.footer_link{
  display: inline-block;
  margin-right: 30px;
}

.footer_link a{
  display: block;
  padding: 15px 0;
  font-family: League Spartan,Helvetica,Arial,sans-serif;
  position: relative;
  color: #f3f3f3;
  transition: color .3s ease;
}

@media (min-width: 1200px) {

}

@media (min-width: 992px) {

}

@media (min-width: 768px) {

}

@media (min-width: 576px) {

}

@media (max-width: 576px) {
  .footer_link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
}
